:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.code > pre {
  font-family: Liberation Mono, monospace;
}
.code {
  background: #f8f8f8;
  padding: 1em;
  border-radius: 0.5em;
}

article {
  margin-top: 2em;
}
.row {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
