.list {
  --border-radius: 5px;
  --background-hover: rgb(246, 246, 246);
  --background-active: rgb(235, 235, 235);

  border: 1px solid #ccc;
  padding: 8px;
  position: relative;
  border-radius: var(--border-radius);
}

.item {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  -ms-user-select: none;
  user-select: none;
}

.placeholder {
  background: var(--background-hover);
  border-radius: var(--border-radius);
}

.list .item-delete {
  transition: opacity 200ms ease;
  opacity: 1;
}

.list.drag-active .item-delete {
  opacity: 0;
}

.item:hover {
  background: var(--background-hover);
}

.item.drag-active {
  background: var(--background-active);
}

.item-content {
  flex-grow: 1;
}
